.profile__edit-button {
    background: url(../../../images/profile__edit-button.svg) no-repeat 50%;
    border: 1px solid #fff;
    margin: 0;
    height: 24px;
    width: 24px;
    align-self: center;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: linear 0.2s;
}

@media screen and (max-width: 879px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}